In [2]:
mylist=['Name',45,47.9,True]
mylist

['Name', 45, 47.9, True]

In [3]:
mylist[:4]

['Name', 45, 47.9, True]

In [4]:
mylist[:3]

['Name', 45, 47.9]

In [5]:
mylist[0]='Talha'

In [6]:
mylist

['Talha', 45, 47.9, True]

In [9]:
mylist.insert(4,'banana')

In [10]:
mylist.count('banana')

1

In [12]:
mylist.reverse()

In [13]:
mylist

['banana', True, 47.9, 45, 'Talha']

In [15]:
#iterate along with index
for index,value in enumerate(mylist):
    print(f"Index: {index+1} | Value: {value}")

Index: 1 | Value: banana
Index: 2 | Value: True
Index: 3 | Value: 47.9
Index: 4 | Value: 45
Index: 5 | Value: Talha

In [18]:
#list comprehension
#create a list cube of first 5 numbers
cubenum=[x**3 for x in range(1,6)]

In [19]:
cubenum

[1, 8, 27, 64, 125]

In [22]:
#even number list from 1 to 50
even=[x for x in range(1,50) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [24]:
#nested list comprehension
ls1=[1,2,3]
ls2=[4,5,6]

multiply=[x*i for x in ls1 for i in ls2]
multiply

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [26]:
# if else list comprehension
lst=[1,2,3,4,5,6]
evenodd=['even' if i%2==0 else 'odd' for i in lst]

In [27]:
evenodd

['odd', 'even', 'odd', 'even', 'odd', 'even']